# Logs
logs
*.log
npm-debug.log*

# frontend
node_modules
dist
dist-ssr
.firebase
*.local

# backend
venv/
__pycache__/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

